:root {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-32: 32px;
  --font-size-64: 64px;

  --font-weight-semi-bold: 600;

  --gap-spacing-5: 10px;
  --gap-spacing-6: 12px;
  --gap-spacing-7: 14px;
  --gap-spacing-10: 20px;
  --gap-spacing-12: 24px;
  --gap-spacing-15: 30px;
  --gap-spacing-20: 40px;
  --gap-spacing-50: 74px;
  --gap-spacing-52: 107px;
  --border-radius-xs: 8px;
  --border-radius-xl: 16px;
  --border-radius-2xs: 20px;

  --header-height: 88px;
  
  --color-card-white: #ffffff;
  --color-card-black: #000000;
  --color-card-gray: #000000CC;
  --color-card-red: #E30613;
  --color-gray-3: #F4F4F6;
  --color-gray-4: #1D1D1B;
  --color-gray-5: #1D1D1B0D;
  --color-gray-6: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;

  --color-text-black: #1D1D1BCC;
  --button-size: 48px;

  --font-family-sofia: 'Lato', sans-serif;
  --content-max-width: 1280px;
  --swiper-scrollbar-size: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-max-width {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gap-5 {
  gap: var(--gap-spacing-5);
}

.gap-20 {
  gap: var(--gap-spacing-20);
}

#button-burger-menu {
  order: 3;
}

#button-dark-mode {
  display: none;
}

.header-right {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap-spacing-5);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--button-size);
  min-width: var(--button-size);
  min-height: var(--button-size);
  padding: var(--gap-spacing-10);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-14);
  font-weight: normal;
  background: var(--color-gray-3);
  border: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;
}

.button-icon {
  width: var(--button-size);
  height: var(--button-size);
}

.button--red {
  background: var(--color-card-red);
}

.button--border-gray {
  border: 1px solid var(--color-gray-6);
  color: var(--color-card-black);
  font-size: var(--font-size-14);
}

.button--ghost {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: var(--gap-spacing-7);
  width: unset;
  height: 20px;
  color: var(--color-white);
  background: transparent;
  border: none;
}

.button--ghost__text {
  display: flex;
  flex-wrap: nowrap;
}

.text-normal {
  font-family: var(--font-family-sofia);
  font-style: normal;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0%;
  padding-top: 0;
  transition: .2s ease;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-spacing-5);
  margin: 0 auto;
  padding: var(--gap-spacing-10);
  width: 100%;
  height: var(--header-height);
  background: var(--color-card-white);
  box-shadow: 0px 0px 10px rgba(29, 29, 27, 0.1);
}

main {
  padding-top: var(--header-height);
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--gap-spacing-50) var(--gap-spacing-10);
  background: var(--color-card-red);
  overflow: hidden;
}

.left-hero-img,
.right-hero-img {
  display: none;
}

.hero-section__content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-10);
  position: relative;
}

h1 {
  font-family: var(--font-family-sofia);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-32);
  line-height: 100%;
  text-align: center;
  color: var(--color-white);
} 

h2 {
  font-family: var(--font-family-sofia);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-32);
  line-height: 100%;
  text-align: center;
  color: var(--color-gray-4);
}

.hero-section__content__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

nav {
  width: 90vw;
  max-width: 400px;
  margin: 0 auto;
  padding: var(--gap-spacing-5);
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-card-white);
  border-radius: 16px;
  transform: translateY(-500px) rotateX(90deg);
  transform-origin: top;
  max-height: calc(100dvh - 120px);
  overflow: auto;
  z-index: 1;
}

.nav-transition {
  transition: .3s ease-in-out;
}

.nav-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: var(--gap-spacing-10);
  background: transparent;
  list-style-type: none;
}

.nav-list__item a {
  display: inline-block;
  padding: var(--gap-spacing-7);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-card-black);
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radius-xs);
  z-index: 10;
  transition: background-color .3s ease;
}

.nav-list__item a:hover {
  background-color: var(--color-gray-6);
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-card-white);
}

.navigation-mask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gap-spacing-12);
  gap: var(--gap-spacing-7);
  width: 213px;
  height: 68px;
  background: var(--color-card-red);
  border-radius: 0px 0px 20px 20px;
}

.mask-button {
  width: 14px;
  height: 14px;
  position: relative;
  background: var(--color-card-red);
}

.mask-button::before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -14px;
  background: var(--color-card-white);
  border-radius: 50%;
}

.mask-button--right::before {
  left: unset;
  right: -14px;
}

.cards-section {
  padding: var(--gap-spacing-10);
  padding-bottom: var(--gap-spacing-50);
  background-color: var(--color-card-white);
}

.cards-section-one,
.cards-section-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-spacing-10);
}

.card {
  background-color: var(--color-gray-5);
  border-radius: var(--border-radius-2xs);
  padding: var(--gap-spacing-10);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  transition: .3s ease;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__content__icon-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gap-spacing-6);
  width: 48px;
  height: 48px;
  background: var(--color-white);
  border-radius: 999px;
}

.card__content__bottom-text {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-gray-4);
}

.section-licensing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-15);
  padding: var(--gap-spacing-50) var(--gap-spacing-10);
  background-color: var(--color-gray-3);
}

.section-licensing__top {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-10);
}

.section-licensing__top__text {
  font-size: var(--font-size-16);
  line-height: 150%;
  text-align: center;
  color: var(--color-card-gray);
}

footer {
  width: 100%;
  padding: 0 var(--gap-spacing-10) var(--gap-spacing-10);
  background-color: var(--color-gray-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-15);
  width: var(--content-max-width);
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-5);
  color: var(--color-card-black);
}

.footer__privacy {
  font-size: var(--font-size-14);
  color: var(--color-card-black);
}

/* swiper */

.section-licensing__swiper {
  width: 100%;
  padding: var(--gap-spacing-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-spacing-10);
  background-color: var(--color-card-white);
  box-shadow: 0px 0px 20px rgba(29, 29, 27, 0.1);
  border-radius: 20px;
}

.swiper {
  height: 300px !important;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  gap: var(--gap-spacing-10);
}

.swiper-controls {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-spacing-10);
}

.swiper-nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-spacing-5);
}

.swiper-button-next, .swiper-button-prev {
  margin: 0 !important;
  width: 46px !important;
  height: 46px !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  position: relative !important;
  background-color: var(--color-gray-5);
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: unset !important;
}

.swiper-button-prev {
  background-image: url('/public/assets/arrow-prev.svg');
}

.swiper-button-next {
  background-image: url('/public/assets/arrow-next.svg');
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide {
  width: 295px;
  height: 250px;
  padding: var(--gap-spacing-12) !important;
  background-color: var(--color-gray-5);
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--border-radius-xl);
  color: var(--color-card-black);
  font-size: var(--font-size-14);
  text-align: left !important;
}

.slide__name {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semi-bold);
  margin-top: auto;
  margin-bottom: var(--gap-spacing-5);
}

.swiper-controls {
  display: flex;
}

.swiper-scrollbar-number {
  font-size: var(--font-size-14);
  color: var(--color-card-red);
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative !important;
  width: 100% !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  background: var(--color-gray-5);
}

.swiper-scrollbar-drag {
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 50%;
  background: var(--color-card-red) !important;
  position: absolute;
  top: 0;
  margin: 0;
}
/* end swiper */

#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 600px) {
  header {
    padding: 0 var(--gap-spacing-10) var(--gap-spacing-5);
    top: var(--gap-spacing-10);
    width: 100%;
  }

  .wrapper {
    max-width: 100%;
    width: 1280px;
    top: var(--gap-spacing-10);
    border-radius: var(--border-radius-xl);
  }


  #logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  button#button-burger-menu {
    order: unset;
  }

  #button-dark-mode {
    display: inline-flex;
  }

  main {
    padding: 0;
  }

  h1 {
    font-size: var(--font-size-64);
  }

  .hero-section {
    height: 680px;
  }

  .left-hero-img,
  .right-hero-img {
    display: block;
    position: absolute;
    width: 280px;
    height: auto;
  }

  .left-hero-img {
    bottom: -320px;
    left: -140px;
  }

  .right-hero-img {
    bottom: -320px;
    left: 400px;
  }

  .section-licensing {
    padding-bottom: var(--gap-spacing-52);
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cards-section {
    padding-bottom: var(--gap-spacing-52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-spacing-10);
  }

  /* cards grid */
  .cards-section-one,
  .cards-section-two {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 360px));
  }

  .card {
    width: 100%;
    height: unset;
  }

  .card-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .card-2 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .card-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .card-4 {
    grid-column: 2;
    grid-row: 3;
  }
  .card-5 {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .card-6 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .card-7 {
    grid-column: 1;
    grid-row: 3;
  }
  .card-8 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media screen and (min-width: 1200px) {
  #logo-wrapper {
    flex: 0 1 auto;
  }

  #button-burger-menu {
    display: none;
  }

  .content-max-width {
    max-width: var(--content-max-width);
  }

  nav {
    max-width: unset;
    position: relative;
    top: 0;
    transform: none;
    background-color: var(--color-card-white);
  }

  .nav-list {
    margin: 0 auto;
    flex-direction: row;
  }

  .hero-section {
    height: 462px;
    justify-content: flex-end;
  }

  .left-hero-img,
  .right-hero-img {
    width: 360px;
    height: auto;
  }
  .left-hero-img {
    bottom: -150px;
    left: -420px;
  }

  .section-licensing__top {
    gap: var(--gap-spacing-12);
  }

  .right-hero-img {
    bottom: -150px;
    left: 600px;
  }

  .swiper-scrollbar-drag {
    content: "";
  }

  .cards-section {
    padding-top: 68px;
  }

  /* cards grid */
  .cards-section-one,
  .cards-section-two {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 420px));
  }

  article.card {
    width: 100%;
    height: unset;
  }

  .card-1 {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .card-2 {
    grid-column: 2 / 4;
    grid-row: 1;
  }
  .card-3 {
    grid-column: 2;
    grid-row: 2;
  }
  .card-4 {
    grid-column: 3;
    grid-row: 2;
  }
  .card-5 {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .card-6 {
    grid-column: 2;
    grid-row: 1;
  }
  .card-7 {
    grid-column: 2;
    grid-row: 2;
  }
  .card-8 {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}


 :root body.theme-dark {
    --color-card-white: #000000;
    --color-card-black: #ffffff;
    --color-card-gray: #FFFFFFCC;
    --color-gray-3: #343432;
    --color-gray-4: #fff;
    --color-gray-5: #343432;
    --color-gray-6: #FFFFFF33;
    --color-white: #ffffff;
  }

  body.theme-dark header {
    svg path {
      fill: var(--color-white);
    }
  }
